# Supabase
SUPABASE_DB_URL=

# Auth
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=

# PayFast
PAYFAST_MERCHATN_ID=
PAYFAST_MERCHATN_KEY=
PAYFAST_RETURN_URL=
PAYFAST_NOTIFY_URL=
PAYFAST_PASSPHRASE=

#Rate limiting
LOGIN_RATE_LIMIT_WINDOW_MS=
LOGIN_RATE_LIMIT_MAX=

RESEND_API_KEY=

FRONT_END_URL=