@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tailwindcss";

@theme {
  --animate-dot: dot 1.4s infinite both;
  --font-roboto: "Roboto", sans-serif;
  --font-lobster: "Lobster", sans-serif;


  @keyframes dot {
    0% {
      opacity: 0.2;
    }

    20% {
      opacity: 1;
    }

    100% {
      opacity: 0.2;
    }
  }
}


html {
  scroll-padding-top: 100px;
}

:root {
  /* --toastify-color-progress-dark: #fdc700; */
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #e22e2e;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #d5d5e3;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #928787;
  border-radius: 4px;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, black, #3b3b3b);
}


@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  position: relative;
  overflow: hidden;
  background-color: rgb(189, 189, 190);
  /* gray-200 */
}

.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  animation: shimmer 1.5s infinite;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent);
}